INTEGER     {DIGIT}+
FLOAT       {DIGIT}+\.{DIGIT}* | {DIGIT}*\.{DIGIT}+
NUMBER      {INTEGER}|{FLOAT}
IDENTIFIER  {LETTER}({LETTER}|{DIGIT}|{UNDERSCORE})*
HEXNUM      0[xX]{HEXDIGIT}+
OCTALNUM    0[0-7]+
BINARYNUM   0[bB][01]+
%%
%%
